.header {
  @extend .d-flex;
  background: url('../img/home-header.jpg') top center/cover no-repeat;
  height: 480px;

  .caption {
    @extend .text-white;
  }

  @include media-breakpoint-down(md) {
    height: 260px;
    margin-top: 4rem;

    .motto-caption {
      margin-bottom: 1.5rem;
    }
  }
}

.section-card {
  .card {
    @extend .rounded-0, .border-0, .bg-white;
    max-width: 464px;
    margin-top: 4rem;
    padding: 2rem;
    line-height: $line-height-sm;

    .card-title,
    .heading {
      @extend .text-primary;
    }

    .card-title {
      @extend .fw-bolder;
    }

    .heading {
      @extend .fw-bold, .mb-1;
      font-size: 33px !important;
    }

    .caption {
      @extend .fs-5, .fw-light;
      max-width: 400px;
    }

    .btn {
      @extend .text-uppercase, .d-table, .me-auto, .px-4, .py-0, .fs-6;
      height: 31px;
    }

    @include media-breakpoint-down(md) {
      padding: 1.5rem;
      margin-top: 1.5rem;

      .card-title {
        font-size: $h2-font-size !important;
        line-height: 0.89;
      }

      .heading {
        font-size: $h5-font-size !important;
      }
    }
  }
}

.what-we-do {
  background: url('../img/what-we-do.jpg') top center/cover no-repeat;
  background-attachment: fixed;
  height: 480px;

  @include media-breakpoint-down(md) {
    height: 429px;
  }
}

.milestone {
  @extend %section-padding, .bg-light;

  .title {
    @extend .mb-4;
  }

  .timeline {
    @extend .list-unstyled;
    padding-left: 4rem;

    p {
      @extend .mb-0;
    }

    .date {
      @extend .text-primary, .fs-5, .fw-bold;
    }

    .content {
      @extend .fs-6;
    }

    .item {
      @extend .position-relative, .pb-3;
      line-height: $line-height-sm;

      &:first-child::before {
        top: 12px;
      }

      &::before {
        content: ' ';
        @extend .position-absolute, .bg-primary;
        width: 4px;
        top: 0;
        bottom: 0;
        left: -33px;
      }

      &:last-child {
        @extend .pb-0;

        &::before {
          bottom: 26px;
          border-radius: 0 0 1rem 1rem;
        }

        &::after {
          content: ' ';
          @extend .position-absolute;
          background: url('../img/dotted.svg');
          width: 4px;
          height: 20px;
          bottom: 0;
          left: -33px;
        }
      }
    }

    .wrapper {
      @extend .bg-white, .position-relative;
      padding: 0.75rem 1rem;

      &::before {
        content: ' ';
        @extend .bg-white, .rounded-pill, .position-absolute;
        width: 16px;
        height: 16px;
        border: 4px solid $primary;
        top: 12px;
        left: -39px;
        z-index: 9;
      }

      &::after {
        content: ' ';
        @extend .position-absolute;
        top: 12px;
        left: -12px;
        width: 0px;
        height: 0px;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 12px solid $white;
      }
    }

    @include media-breakpoint-down(md) {
      padding-left: 2rem;
    }
  }
}

.our-impact {
  .section-header {
    @extend .d-flex, .flex-fill, .w-100, .position-relative;
    background: url('../img/our-impact.jpg') center center/cover no-repeat;
    height: 480px;

    @include media-breakpoint-down(md) {
      height: 220px;
    }
  }

  .section-content {
    @extend %section-padding;
  }

  .list {
    @extend .d-flex, .align-items-center, .mb-4;

    h2 {
      @extend .fw-blk;
    }

    .list-icon {
      @extend .me-4, .d-flex, .justify-content-center;
      width: 50px;

      .icon {
        color: $primary;
        font-size: 40px;
      }
    }

    .list-content {
      line-height: $line-height-sm;

      p {
        @extend .mb-0, .fs-5;
      }
    }
  }

  .donate-link {
    @extend .fs-3, .text-uppercase, .mx-auto, .mt-md-4;
    min-width: 211px;
  }
}

.meet-our-chef {
  height: 480px;
  background: url('../img/our-chefs.jpg') center center/cover no-repeat;
  background-attachment: fixed;

  .card {
    @extend .text-white;
    backdrop-filter: blur(8px);
    background-color: rgba($black, 0.4) !important;

    .card-title,
    .heading {
      @extend .text-white;
    }
  }

  @include media-breakpoint-down(md) {
    height: 364px;
  }
}
